@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "principal" "pie";
  width: 100%;
}

.container2 {
  background-image: linear-gradient(#ebeaea, #ebeaea, #e4e2e2, #dedada, #ebeaea, #ebeaea);
}

/*estilos del menú de navegación*/
.header {
  position: sticky;
  top: 0;
}

.cabecera {
  width: 100%;
  grid-area: cabecera;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: rgb(232, 223, 223);
}
.cabecera .list-nav {
  display: flex;
  align-items: center;
  list-style: none;
}
.cabecera .list-nav .list {
  margin: 0.34rem;
  padding: 0.3rem;
  font-size: 1rem;
  font-family: "Trebuchet MS", Arial, sans-serif;
}
.cabecera .list-nav .list:hover {
  background-color: rgb(93, 176, 93);
  transition: background-color 0.6s;
  border-radius: 0.5rem;
}
.cabecera .list-nav .list a {
  text-decoration: none;
  color: rgb(108, 106, 106);
  font-size: 1.25rem;
  margin: 0.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}

.div-logo {
  display: flex;
  align-items: center;
}

.logo {
  width: 3rem;
  margin: 0.1rem;
}

.container1 {
  margin-top: 0;
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "titlep" "principal";
}

.titlep {
  grid-area: titlep;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  font-size: 4rem;
  font-family: "Roboto Condensed", sans-serif;
  text-shadow: 0.25rem 0.25rem 0.5rem #000000;
  text-align: center;
  color: #49e149;
  background-image: url(../imagenes-proyecto/usuario3.webp);
  background-size: cover;
  background-position: center;
}
.titlep #villa {
  color: rgb(226, 226, 226);
}

/*Estilos del contenido principal*/
.principal {
  grid-area: principal;
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "titlec" "parrafo" "section-image";
  margin: auto;
  width: 80%;
  align-items: center;
  border-bottom: 1px solid #49e149;
}

/*Estilos del footer*/
/* follow */
.pie {
  background-image: url(../imagenes-proyecto/ola.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 9rem;
}

.social {
  margin: 50px;
  margin-top: 0.5rem;
}

.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  margin: 0 30px;
}

.links a i {
  font-size: 2rem;
}

.fab {
  width: 2.7rem;
  height: 2.7rem;
}

.fa-facebook-f {
  color: rgb(74, 112, 238);
}

.fa-youtube {
  color: rgb(198, 2, 2);
}

.fa-instagram {
  color: #b300ff;
}

.fa-tiktok {
  color: #73b9ef;
}

.principal2 {
  border-top: 1px solid #49e149;
}

.parrafo {
  grid-area: parrafo;
  font-size: 1.3rem;
  margin: 2rem 0 0.7rem 0;
  font-family: "Libre Franklin", sans-serif;
  line-height: 1.5rem;
}
.parrafo .parrafo__text {
  margin: 0.6rem 1rem 1.5rem 1rem;
}
.parrafo .negrita {
  font-weight: bolder;
}

.section-image {
  width: 50%;
  margin: auto;
}
.section-image .image {
  grid-area: section-image;
  width: 100%;
  margin-bottom: 0.7rem;
  border-radius: 1rem;
  border: 1px solid #49e149;
  box-shadow: 3px 1px 5px #383737;
}

.principal2 {
  border-top: 1px solid #49e149;
}

.container-flui {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.titlec {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
  background-image: url(../imagenes-proyecto/search.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 3rem;
  font-family: "Roboto Condensed", sans-serif;
  text-shadow: 0.25rem 0.25rem 0.5rem #000000;
  text-transform: uppercase;
  color: #f2efef;
}

.titlen {
  background-image: url(../imagenes-proyecto/nosotros1.webp);
  background-size: cover;
}

.titlei {
  background-image: url(../imagenes-proyecto/info.jpg);
  background-size: cover;
}

.titlepr {
  background-image: url(../imagenes-proyecto/preguntas1.jpg);
  background-size: cover;
}

.formulario {
  background-image: url(../imagenes-proyecto/form2.jpg);
  background-size: cover;
  background-position: center;
  margin: auto;
  width: 75%;
  text-align: left;
  line-height: 2rem;
  border: 1.8px solid #49e149;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.formulario .seccion_form {
  width: auto;
  margin: 1rem;
}
.formulario .seccionlabel {
  text-shadow: 0rem 0rem 0.5rem rgb(255, 255, 255);
}
.formulario label {
  display: block;
  color: rgb(109, 108, 108);
  font-size: 1.25rem;
  margin: 0 0 0 0.5rem;
}
.formulario input {
  border: 1px solid #000000;
  border-radius: 0.25rem;
  width: 100%;
  height: 1.5rem;
}
.formulario select {
  border: none;
  border-radius: 0.25rem;
  margin: 0 0 0 0.5rem;
}
.formulario textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
}
.formulario .submit_boton {
  width: 100%;
}
.formulario .boton {
  display: block;
  width: 90%;
  margin: auto;
  margin-bottom: 0.5rem;
  padding-bottom: 2rem;
  background-color: #a962c7;
  color: #fff;
  cursor: pointer;
}

/*Modificaciones sección Nosotros*/
.parrafo__nos {
  line-height: 1.5rem;
  margin-top: 0.6rem;
  text-align: justify;
}

.titleh2 {
  margin: 1.5rem;
  color: #51bf95;
}

/* Modicaciones de la sección información */
.abonos {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 4fr);
  margin: 2rem auto 1rem;
  justify-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.abonos .planes {
  background: url(../imagenes-proyecto/lineasmegas1.jpg);
  background-size: 100%;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3.5rem;
  flex-direction: column;
  color: rgb(47, 154, 129);
  border-radius: 10px;
  box-shadow: 5px 2px 5px #383737;
}
.abonos .planes .planes__num {
  font-size: 3rem;
}
.abonos .planes .planes__text {
  font-size: 3rem;
}

/* Modificaciones sección Preguntas */
.preguntas {
  background-image: linear-gradient(rgb(169, 237, 213), rgb(145, 205, 187), rgb(131, 228, 209));
  width: 80%;
  margin: 1rem auto 1rem;
  line-height: 2rem;
  border-radius: 0.25rem;
  border: 1.8px solid #49e149;
  padding: 1rem;
}

.preguntas1 {
  background-image: linear-gradient(rgb(169, 237, 213), rgb(128, 192, 173), rgb(131, 228, 209));
  width: 80%;
  margin: 1rem auto 1rem;
  border-radius: 0.25rem;
  border: 1.8px solid #49e149;
  padding: 1rem;
}
.preguntas1 .pregunta {
  margin-bottom: 2rem;
}
.preguntas1 textarea {
  width: 100%;
  border: none;
}
.preguntas1 .boton {
  width: 100%;
  background-color: #3bbfa0;
  height: 1.5rem;
  border: none;
  display: block;
  margin: auto;
  margin-bottom: 0.2rem;
  margin-top: 0.5rem;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container-fluid {
    --bs-gutter-x: 0;
    grid-column: 1, 1fr;
    grid-row: 3, 1fr;
    background-image: linear-gradient(#ebeaea, #ebeaea, #e4e2e2, #dedada, #ebeaea, #ebeaea);
  }
  .navbar {
    --bs-navbar-padding-x: -1;
    --bs-navbar-padding-y: 0;
  }
  .cabecera {
    width: 100%;
    grid-area: cabecera;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 0.5rem;
    background-color: rgb(232, 223, 223);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .cabecera .div-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .cabecera .menu-listas {
    display: flex;
    justify-content: center;
  }
  .titlep {
    background-size: cover;
    background-position: center;
    font-size: 2rem;
    margin: 0;
    text-align: center;
  }
  .titlec {
    text-align: center;
    margin: 0;
  }
  .section-image {
    width: 80%;
  }
  .formulario {
    background-size: cover;
    background-position: center;
  }
  .formulario .boton {
    padding-bottom: 2rem;
  }
  .pie {
    height: 10rem;
  }
}
@media screen and (max-width: 385px) {
  .container-fluid {
    --bs-gutter-x: 0;
    grid-column: 1, 1fr;
    grid-row: 3, 1fr;
    background-image: linear-gradient(#ebeaea, #ebeaea, #e4e2e2, #dedada, #ebeaea, #ebeaea);
  }
  .navbar {
    --bs-navbar-padding-x: -1;
    --bs-navbar-padding-y: 0;
  }
  .cabecera {
    width: 100%;
    grid-area: cabecera;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 0.5rem;
    background-color: rgb(232, 223, 223);
    flex-direction: column;
  }
  .cabecera .div-logo {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .cabecera .menu-listas {
    display: flex;
    flex-direction: row;
  }
  .cabecera .list-nav {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
  }
  .cabecera .list {
    margin: 0;
  }
  .cabecera .list a {
    font-size: 0.7rem;
    color: rgb(108, 106, 106);
  }
  .titlec {
    width: 100%;
    font-size: 2rem;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    text-shadow: 0.25rem 0.25rem 0.5rem #000000;
    text-transform: uppercase;
    color: #f2efef;
  }
  .preguntas__title {
    font-size: 1.5rem;
  }
  .formulario {
    background-size: cover;
    background-position: center;
  }
  .formulario .boton {
    padding-bottom: 2rem;
  }
  .pie {
    width: 110vw;
    height: 10rem;
  }
}

/*# sourceMappingURL=inicio.css.map */
