*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "variable";

.container{
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:"header"
                        "principal"
                        "pie";
    width: 100%;
    background-image: linear-gradient(#ebeaea, #ebeaea, #e4e2e2, #dedada, #ebeaea,#ebeaea);
}

/*estilos del menú de navegación*/
.header{
    position: sticky;
    top: 0;
}
.cabecera{
    width: 100%;
    grid-area: cabecera;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: rgb(9, 9, 9);
    .list-nav{
        display: flex;
        align-items: center;
        list-style: none;
        .list{
            margin: 0.34rem;
            padding: 0.3rem;
            font-size: 1rem;
            font-family:'Trebuchet MS', Arial, sans-serif;
            &:hover{
                background-color: map-get($map: $colores, $key:cnavbar );
                transition: background-color .6s;
                border-radius: .5rem;
            }
            a{
                text-decoration: none;
                color: map-get($map: $colores, $key:cprimario);
                font-size: 1.25rem;
                margin: .5rem;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-decoration: none;
                }
            }
        }
    }

.div-logo{
    display: flex;
    align-items: center;
    .logo{
        width: 3rem;
        margin: 0.1rem;
    }
}

.container1{
    margin-top: 0;
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:"titlep"
                        "principal";
}
.titlep{
    grid-area: titlep;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    font-size: 4rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: .15rem .15rem .15rem #080909;
    text-align: center;
    color: map-get($map: $colores, $key: cprimario);
    background-image: url(../imagenes-proyecto/tecladob.jpg);
    background-size: 100%;
    background-position-y: 53%;

    #villa{
        color:rgb(226, 226, 226);
    }
}
/*Estilos del contenido principal*/
.principal{
    grid-area: principal;
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:"titlec"
                        "parrafo"
                        "section-image";
    margin: auto;
    width: 80%;
    min-height: 85vh;
    align-items: center;
    border-bottom: 1px solid map-get($map: $colores, $key: cprimario);
}

/*Estilos del footer*/
/* follow */
.pie{
    background-image: url(../imagenes-proyecto/ola.svg);
    background-size: 100%;
    background-position: 50%;
    background-repeat: none;
}
.social {
    margin: 50px;
}
.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 2rem;
}

.fab{
    color: map-get($map: $colores, $key: cprimario );
    width: 2.7rem;
    height: 2.7rem;
}