@import "variable";

.principal2{
    border-top: 1px solid map-get($map: $colores, $key: cprimario);
}
.titlec{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: map-get($map: $anchos, $key: completo);
    background-image: url(../imagenes-proyecto/search.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: .25rem .25rem .5rem #000000;
    text-transform: uppercase;
    color: #f2efef;
}
.titlen{
    background-image: url(../imagenes-proyecto/nosotros1.webp);
    background-size: cover;
}
.titlei{
    background-image: url(../imagenes-proyecto/info.jpg);
    background-size: cover;
}
.titlepr{
    background-image: url(../imagenes-proyecto/preguntas1.jpg);
    background-size: cover;
}
.formulario{
    background-image: url(../imagenes-proyecto/form2.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 75%;
    text-align: left;
    line-height: 2rem;
    border: 1.8px solid map-get($map: $colores, $key: cprimario);
    border-radius: .5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .seccion_form{
        width: auto;
        margin: 1rem;
    }
    .seccionlabel{
        text-shadow: 0rem 0rem .5rem rgb(255, 255, 255);
    }
    label{
        display: block;
        color: rgb(109, 108, 108);
        font-size: 1.25rem;
        margin: 0 0 0 .5rem;
    }
    input{
        border: 1px solid #000000;
        border-radius: .25rem;
        width: 100%;
        height: 1.5rem;
    }
    select{
        border: none;
        border-radius: .25rem;
        margin: 0 0 0 .5rem;
    }
    textarea{
        min-height: 120px;
        width: 100%;
        padding: 0.625rem;
    }
    .submit_boton{
        width: 100%;
    }
    .boton{
        display: block;
        width: 90%;
        margin: auto;
        margin-bottom: .5rem;
        background-color: #a962c7;
        color: #fff;
        cursor: pointer;
    }   
}

/*Modificaciones sección Nosotros*/
.parrafo__nos{
    line-height: 1.5rem;
    margin-top: .6rem;
    text-align: justify;
}
.titleh2{
    margin: 1.5rem;
    color: #51bf95;
}

/* Modicaciones de la sección información */

.abonos{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 4fr);
    margin: 2rem auto 1rem;
    justify-items: center;
    justify-content: center;
    gap: .5rem;
    .planes{
        background: url(../imagenes-proyecto/lineasmegas1.jpg);
        background-size: 100%;
        width: 100%;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 3.5rem;
        flex-direction: column;
        color:rgb(47, 154, 129);
        border-radius: 10px;
        box-shadow: 5px 2px 5px #383737;
        .planes__num{
            font-size: 3rem;
        }
        .planes__text{
            font-size: 3rem;
        }
    }
}


/* Modificaciones sección Preguntas */

.preguntas{
    background-image: linear-gradient(rgb(169, 237, 213), rgb(145, 205, 187), rgb(131, 228, 209));
    width: map-get($map: $anchos, $key: principal );
    margin: 1rem auto 1rem;
    line-height: 2rem;
    border-radius: .25rem;
    border: 1.8px solid map-get($map: $colores, $key: cprimario);
    padding: 1rem;
}
.preguntas1{
    background-image: linear-gradient(rgb(169, 237, 213), rgb(128, 192, 173), rgb(131, 228, 209));
    width: map-get($map: $anchos, $key: principal );
    margin: 1rem auto 1rem;
    border-radius: .25rem;
    border: 1.8px solid map-get($map: $colores, $key: cprimario);
    padding: 1rem;
    .pregunta{
        margin-bottom: 2rem;
    }
    textarea{
        width: map-get($map: $anchos, $key: completo );
        border: none;
    }
    .boton{
        width: map-get($map: $anchos, $key: completo );
        background-color: #3bbfa0;
        height: 1.5rem;
        border: none;
        display: block;
        margin: auto;
        margin-bottom: .2rem;
        margin-top: .5rem;
        color: #fff;
        cursor: pointer;
    }
}
